# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\marga\Documents\COURS\2IEME ANNEE\S3\CONCEPTION DE LANGAGES\THEORIE ET CONCEPTION DES LANGAGES DE PROGRAMMATION\PROJET\theoriedeslangages\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
